/* Reglas definidas para perfil */
.main {
    display: flex;
    align-items: flex-start;
    padding: 15px;
}

.imgContainer {
    margin-right: 5px;
    height: 100%;
}

.imgContainer img {
    height: 58vh;
    border-radius: 90px 0 0 0;
}

.textContainer {
    width: 70%;
    border: 1px solid black;
    padding: 0px 20px 20px 20px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
}

.textContainer h1 {
    color: rgb(168, 153, 63);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5em;
}

.textContainer p {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

.textContainer #description {
    font-style: italic;
}

.textContainer a {
    color: rgb(255, 102, 0);
    text-decoration: none;
}

.textContainer a:visited {
    color: rgb(255, 0, 0);
}

.textContainer a:active {
    color: rgb(255, 0, 0);
}

.textContainer table td {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    padding: 0px 60px 10px 0px;
    font-size: 1em;
}

/* Reglas definidas para index */
header {
    color: rgb(255, 255, 255);
    background-color: rgb(49, 50, 53);
    padding: 20px 20px;
}

footer {
    color: rgb(255, 255, 255);
    background-color: rgb(49, 50, 53);
    padding: 10px 20px;
    margin-bottom: 0px;
    text-align: center;
}

header ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}

header ul li {
    color: rgb(255, 255, 255);
    margin: 0px 20px;
}

header button {
    background-color: rgb(224, 224, 224);
    color: rgb(51, 51, 51);
    border: none;
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

header button:hover {
    background-color: rgb(208, 208, 208);
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

span {
    display: inline-block;
    width: 2px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
}

.studentImg {
    width: 150px;
    height: 150px;
    margin: 0px 0px 0px 0px;
}

.profileContainer {
    background-color: rgb(230, 230, 230);
    border: 2px solid rgb(145, 145, 145);
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 180px;
    height: 180px;
    text-align: center;
}

.profileContainer:hover {
    background-color: rgb(153, 197, 221);
    cursor: pointer;
    transform: rotate(5deg);
}

.studentName {
    color: rgb(49, 50, 53);
    line-height: 1.5;
}

#ATI {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.7em;
    font-weight: bold;
}

#Search {
    display: flex;
    margin-right: 0;
}

#Saludo {
    color: white;
    margin-left: 20px;
}